HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


# IDEs
/.idea/
/.vscode/
/*.iml
*.ipr
*.iws

# Intellij IDEA
out/

# OS Files
.DS_Store
Thumbs.db

# Spring Boot specific
spring.log
